[Unit]
Description=Architecture Academics Portal Frontend
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/architecture-academics-portal/frontend
Environment=NODE_ENV=production
Environment=NEXT_PUBLIC_API_URL=http://15.206.47.135:8000
Environment=NEXT_PUBLIC_SITE_URL=http://15.206.47.135:3000
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=frontend

[Install]
WantedBy=multi-user.target